@media(min-width: 961px) {
  
  .page {
	  display: flex;
	}
  
  .aside {
    width: 320px;
    margin-right: 40px;
    flex-shrink: 0;
    order: -1;
  }

  .content {
    flex-grow: 1;
  }
}

@media(max-width: 960px) {
	
	.aside {
		display: none;
	}
}